<!-- <h1>Welcome to {{ hotelName }}</h1> -->
 <!-- <app-header> </app-header> -->
 
<!-- {{rooms$ |async | json}} -->
<!-- <div [hidden]="hideRooms">
    Number of Rooms:
<div [ngStyle]="{'color':rooms.availableRooms > 0 ? 'red' : 'green'}" [innerText]="numberofRooms">
    {{numberofRooms}}
</div>
</div> -->

<!-- 
{{ rooms?.availableRooms ?? 'No Rooms'}} -->
<!-- <div *ngIf="selectedRoom">
    {{ selectedRoom | json }}
</div> -->

<!-- <div *ngIf="selectRoom">
    {{ selectedRoom | json }}
</div> -->

<!-- <h1>
    {{geterror$ | async}}
     Number of Rooms : {{roomscount$ | async}}
</h1> -->


<div>
    <button class='btn btn-success' routerLink="add">Add Room</button>
</div>

{{ priceFilter.value | json }}
<div>
    <input type="number" class="form-control" placeholder="Price" [formControl]="priceFilter">
</div>

<div *ngIf="rooms$ | async as rooms">
    <app-rooms-list [rooms]="rooms" [price]="priceFilter.value!" (selectedRoom)="selectRoom($event)" [title]="title"></app-rooms-list>
</div>



<!-- 
<button (click)="toggle()">Toggle</button>
<button (click)="editroom()">Edit Room</button>
<button (click)="deleteroom()">Delete Room</button>

<h1>{{totalbytes}} loaded</h1> -->

<router-outlet></router-outlet>
